<!DOCTYPE html>
<html>
<head>
<title>IndoorAir App</title>
</head>
<body>
  <script>
      {% include "homepage/index.js" %}
  </script>


<h1>IndoorAir App</h1>
<p>Welcome to my app</p>
<p>
  <button type = "button" onclick= "onLoginClick();">Login</button>


</p>


<p>
  <button type = "button" onclick= "onRegisterClick();">Register</button>
</p>

<p>
  <button type = "button " onclick= "onContactClick();">Contact</button>

</p>

<p>
  <button type = "button " onclick= "onVersionClick();">Version</button>
  <p id= "version"> Click to get the version</p>



</body>
</html>
